# Ignore environment variables file
.env

# MATLAB specific
*.mat
*.asv
*.slxc

# Data files
*.csv
*.db

# MAT files
*.mat

# VSCode files
.vscode
.idea
.pytest_cache/
.venv/

#Coverage files

#cache files
*.cache
*.log
*.tmp
*.bak
*.swp
*.swo

__pycache__/
*.pyc
*.pyo
*.pyd
